@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #414141;
}

p {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1180px;
}

.header {
  min-height: 756px;
  background-color: #292929;
}
.header__bar {
  display: flex;
}
.header__link {
  display: flex;
  justify-content: space-between;
}
.header__links {
  margin-top: 26px;
  list-style: none;
  padding-left: 145px;
}
.header__links a {
  color: white;
  text-decoration: none;
  display: inline-block;
  /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/
  line-height: 1;
  /*Задаём высоту строки (можно в пикселях)*/
}
.header__links a:after {
  display: block;
  /*превращаем его в блочный элемент*/
  content: "";
  /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
  height: 3px;
  /*задаём высоту линии*/
  width: 0%;
  /*задаём начальную ширину элемента (линии)*/
  background-color: #e2a300;
  /*цвет фона элемента*/
  transition: width 0.3s ease-in-out;
  /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.header__links a:hover:after,
.header__links a:focus:after {
  width: 100%;
}
.header__icon {
  margin-top: 26px;
  padding-right: 74px;
}
.header__gleb {
  margin-top: 194px;
  width: 447px;
  height: 377.47px;
}
.header__title {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.header__titles {
  color: white;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0;
}
.header__name {
  color: white;
  margin-top: 20px;
  font-size: 72px;
  font-weight: 700;
  line-height: 81px;
  text-transform: uppercase;
}
.header__descr {
  color: white;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
}
.header__image img {
  height: 100%;
}
.header__button button {
  margin-top: 20px;
  cursor: pointer;
  border: 0;
  width: 200px;
  height: 47px;
  background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
  box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  border-radius: 6px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}

.skills {
  min-height: 787px;
  background-color: #414141;
}
.skills__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.skills__form img {
  margin-top: 113px;
  width: 270px;
  height: 270px;
  border-radius: 29px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
  background-color: #2a2a2a;
}
.skills__forms {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.skills__forms img {
  margin-right: 30px;
  margin-top: 30px;
  width: 270px;
  height: 270px;
  border-radius: 29px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
  background-color: #2a2a2a;
}
.skills__forms .skills__form2:last-child img {
  margin-right: 0;
}

.about {
  background-color: #414141;
}
.about__descr {
  width: 370px;
  min-height: 696px;
  text-align: center;
  background: url(/img/Aboutme.png);
}

.portfolio {
  background-color: #414141;
  padding: 0 0 150px 0;
}
.portfolio__title {
  color: white;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.portfolio__desk {
  display: flex;
}
.portfolio__arrows {
  margin: 0 auto;
  width: 60px;
  height: 60px;
  background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
  border-radius: 100%;
  margin-top: 332px;
}
.portfolio__arrows img {
  margin: 12px;
}
.portfolio__prewiev {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 970px;
  height: 600px;
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
  box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
  border-radius: 29px;
}
.portfolio__text {
  width: 296px;
  height: 436px;
  text-align: center;
}
.portfolio__titles {
  font-size: 24px;
  font-weight: 300;
  color: white;
}
.portfolio__descr {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: white;
}
.portfolio__more {
  margin-top: 25px;
  color: #e2a100;
  font-size: 18px;
  font-weight: 300;
}

.footer {
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
  max-height: 238px;
  margin: 0 auto;
  padding: 50px 0;
}
.footer__container {
  display: flex;
  justify-content: space-around;
}
.footer__menu {
  list-style-type: none;
}
.footer__links a {
  font-weight: 300;
  margin-top: 18px;
  color: white;
  text-decoration: none;
  display: inline-block;
  /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/
  line-height: 1;
  /*Задаём высоту строки (можно в пикселях)*/
}
.footer__links a:after {
  display: block;
  /*превращаем его в блочный элемент*/
  content: "";
  /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
  height: 3px;
  /*задаём высоту линии*/
  width: 0%;
  /*задаём начальную ширину элемента (линии)*/
  background-color: #e2a300;
  /*цвет фона элемента*/
  transition: width 0.3s ease-in-out;
  /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
}
.footer__links a:hover:after,
.footer__links a:focus:after {
  width: 100%;
}
.footer__contact {
  margin: 13px 0 50px 115px;
}
.footer__contact p {
  font-weight: 300;
  font-size: 18px;
  color: white;
  margin-top: 18px;
}
.footer__icon {
  display: flex;
  margin: 50px 0px 57px 56px;
}
.footer__arrowup {
  margin-left: 32px;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
}
.footer__arrowup img {
  margin: 12px;
}/*# sourceMappingURL=style.css.map */