* {
    font-family: 'Roboto', sans-serif;
    outline: 0 !important;
}

p {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1180px;   
}

.header {
    min-height: 787px;
    background-color: #292929;
    &__bar {
        display: flex;
    }
    &__link {
        display: flex;
        justify-content: space-between;
    }
    &__links {        
        margin-top: 26px;
        list-style: none;
        padding-left: 145px;
        a {
            color: white;
            text-decoration: none;
            display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/
            line-height: 1; /*Задаём высоту строки (можно в пикселях)*/           
        }
        a:after {
            display: block; /*превращаем его в блочный элемент*/
            content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
            height: 3px; /*задаём высоту линии*/
            width: 0%; /*задаём начальную ширину элемента (линии)*/
            background-color: #E2A300; /*цвет фона элемента*/
            transition: width 0.4s ease-in-out; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
            }
        a:hover:after,
        a:focus:after {
            width: 100%;
            }
        
        
    }
    &__icon {
        margin-top: 26px;
        padding-right: 74px;
    }
    &__gleb {
        margin-top: 194px;
        width: 447px;
        height: 377.47px;
    }
    &__title {
        padding: 0;
        margin: 0;
        display: flex;        
        justify-content: space-between;
    }
    &__titles {
        color: white;
        font-size: 48px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0;
    }
    &__name {
        color: white;
        margin-top: 20px;
        font-size: 72px;
        font-weight: 700;
        line-height: 81px;
        text-transform: uppercase;
    }
    &__descr {
        color: white;
        margin-top: 20px;
        font-size: 18px;
        font-weight: 300;
        line-height: 21px;
    }
    &__image {        
        img {
            margin-top: 39px;
            margin-left: 121px;
            width: 586px;
            height: 674px;
            bottom: 0;
        }        
    }
    &__button {        
        button {
            margin-top: 20px;
            cursor: pointer;
            border: 0;
            width: 200px;
            height: 47px;
            background: linear-gradient(87.32deg, #E2A300 4.47%, #E29500 95.53%);
            box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
            border-radius: 6px;
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
        }
    }
}

.skills {    
    min-height: 787px;
    background-color: #414141;
    &__container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }      
    &__form {
        img {
            margin-top: 113px;
            width: 270px;
            height: 270px;
            border-radius: 29px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
            background-color: #2a2a2a;
        }
    }
    &__forms {
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {               
            margin-right: 30px;     
            margin-top: 30px;
            width: 270px;
            height: 270px;
            border-radius: 29px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.47);
            background-color: #2a2a2a;
        }
    .skills__form2:last-child img {
        margin-right: 0;
    }
        
    }
    
}
